// section
@import "section/section";
@import "section/_theme/section_theme_midnight";
@import "section/_theme/section_theme_sunflower";
@import "section/_type/section_type_parallax";
@import "section/_type/section_type_footer"; //parallax
@import "parallax/__title/parallax__title";
@import "parallax/__title/parallax__right";
@import "parallax/__title/parallax__left";
@import "parallax/parallax"; //footer
@import "footer/__title/footer__title";
@import "footer/__link/footer__link"; //hr
@import "hr/_type/hr_type_footer"; //navbar
@import "navbar/__link/navbar__link";
@import "navbar/_theme/navbar_theme_midnight"; //images
@import "images/images";

.media_container {
  position: relative;
  display: block;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    background: #1c1f2a;
    z-index: 5;
    opacity: 0.6;
    transition: 300ms;
  }

  &:hover {
    &:before {
      opacity: 0.3;
      transition: 300ms;
    }
  }
}

.gallery_media {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 14px 30px 0 #3edb013b;
  transition: 300ms;

  &:hover {
    transition: 300ms;
    border-radius: 0;
    box-shadow: 0 14px 30px 0 #0000003b;
  }
}
